<body>

<p>Comma-separated values (CSV) is a simple text file format used for encoding tabular data.  Most spreadsheet
and database programs are able to parse CSV files so it is widely used as an easy way to 
transfer data between such programs without having to understand complicated proprietary formats.</p>

<p>This library outputs to CSV format files.  No unit handling is done, the numbers output are given in 
the units that the original file stored them in.</p>

</body>